<div class="edit-word-container">
    <div class="word-name"><%= name.slice(0,1).toUpperCase() + name.slice(1) %></div>
    <div class="edit-meaning"></div>

    <div class="close-btn">✖</div>
    <button class="btn save-btn">Save</button>
</div>
