<div class="loop-game">
	<div class="word-container"></div>
	<div class="overlay"></div>
	<div class="game-buttons">
		<ul>
			<li id="lg-remembered" class="game-option">✓</li>
			<li id="lg-not-remembered" class="game-option">✖</li>
			<li id="lg-next" class="game-option">➡</li>
		</ul>
	</div>
</div>
