<div class="col-sm-8 col-xs-12 no-padding">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">WordTray</a>
  </div>

  <div class="navbar-collapse collapse" id="navbar-collapse-1">
    <ul id="nav-links" class="nav navbar-nav">
      <li class="menu unremembered active"><a href="#">Unremembered</a></li>
      <li class="menu remembered"><a href="#/remembered">Remembered</a></li>
      <li class="menu all"><a href="#/all">All</a></li>
      <li class="menu add-new-word"><a href="#/addword">Add Word</a></li>
      <li id="play" class="dropdown menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Play <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="menu"><a href="#/play/loop">Loop</a></li>
        </ul>
      </li>
      <li class="menu logout"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</div>
