<select>
	<% for (var sortType in sortTypes) { %>
		<% if (sortType === selectedSortType) { %>
			<option value="<%= sortType %>" selected> <%= sortTypes[sortType] %> </option>
		<% } else { %>
			<option value="<%= sortType %>"> <%= sortTypes[sortType] %> </option>
		<% } %>
	<% } %>
</select>
