body {
	background: url('../images/bgtexture.jpg');
	font-family: ubuntu;
	margin: 0;
}

textarea, input {
	outline-color: rgb(119, 255, 119);
}

button, button:hover, button:active {
	outline: 0 !important;
}

.sign-in {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	width: 450px;
	margin: -16px auto 0;
	padding: 32px 20px 20px;
}

form {
	margin: 0;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}
