@import "cross-browser-generator";
@import "bootstrap-override";

:focus {
	outline: none;
}

body {
	font-family: ubuntu;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
}

::selection {
	text-shadow: none;
	background: rgb(216, 72, 72);
	color: rgb(255, 255, 255);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 100px auto 20px;

	& > section {
		display: none;
	}
}

.word-card {
	width: 214px;
	height: 250px;
	position: relative;
	float: left;
	margin: 10px;
	text-align: center;
	cursor: pointer;
	@include transform-style(preserve-3d);
	@include perspective(1500px);
	&.hide {
		display: none;
	}
	.front-face, .back-face {
		width: 100%;
		height: 100%;
		padding: 4% 2%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 5px;
		@include backface-visibility(hidden);
		@include transition-prefixed (transform, 600ms, ease-in-out);
	}
	.front-face {
		background: rgb(132, 211, 121);
		// box-shadow: rgb(164, 209, 95) 1px 1px 6px, rgb(164, 209, 95) -1px -1px 6px;
		border: #80C275 1px solid;
		@include transform(rotateY(0deg));
		z-index: 1;
	}
	.back-face {
		background-color: #92a1d1;
		@include transform(rotateY(180deg));
		// box-shadow: rgb(137, 174, 226) 1px 1px 6px, rgb(137, 174, 226) -1px -1px 6px;
		border: #7992B4 1px solid;
		z-index: 0;
	}
	.word {
		margin-top: 96px;
		color: rgb(233, 60, 74);
		// color: white;
		font-size: 25px;
		// text-shadow: 1px 1px 0px rgb(133, 117, 118);

		label {
			font-weight: normal;
		}
	}
	.title {
		font-size: 25px;
		margin-bottom: 5px;
		color: rgba(54, 58, 71, 0.5);
		font-weight: bold;
	}
	.word, .title {
		&.large {
			font-size: 20px;
		}
		&.very-large {
			font-size: 16px;
		}
	}
	.meaning {
		position: relative;
		color: #244B3A;
		// width: 180px;
		height: 142px;
		overflow: hidden;
		padding-right: 12px;

		ul {
			list-style-type: disc;
			margin: 0;
			padding-left: 18px;
			padding-top: 0;
		}
	}
	.divider {
		margin: 0;
		border: 1px solid transparent;
		box-shadow: 0px -1px 1px #6B6F7B inset;
		height: 3px;
	}
	.m-desc {
		text-align: left;
		padding: 2px 0px;
		font-size: 15px;
	}
	.remove, .done-mark, .edit {
		width: 30px;
		height: 30px;
		line-height: 30px;
		position: absolute;
		top: 8px;
		border-radius: 15px;
		font-size: 20px;
		// background: #79C76E;
		// color: #84d379;
		@include user-select(none);
	}
	.remove {
		right: 8px;
		border: 1px solid #e04e4e;
		color: #e04e4e;
		opacity: 0.7;
	}
	.done-mark {
		right: 45px;
		border: 1px solid #66AF5C;
		color: #66AF5C;
	}
	.edit {
		right: 79px;
		// background: url('../images/edit.png') center no-repeat;
		background: url('../images/edit-hover.png') center no-repeat;
		background-size: 24px !important;
	}
}

#add-word {
	height: 320px;

	.back-face {
		cursor: auto;
	}
	.back {
		position: absolute;
		top: 8px;
		padding: 8px 12px;
		background: #92a1d1;
		border-radius: 18px;
		right: 8px;
		cursor: pointer;
		@include user-select(none);
	}

	.meaning-list-cont {
		height: 172px;
		position: relative;
		overflow: hidden;

		.new-meaning-btn {
			background: #92a1d1;
			width: 36px;
			height: 36px;
			line-height: 20px;
			border-radius: 18px;
			color: rgb(45, 61, 112);
			font-size: 20px;
			text-align: center;
			border: 1px solid #8487D6;
		}
	}

}

#new-word-btn {
	padding: 4px 16px;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 12px;
	background: transparent;
	border: 1px solid rgb(112, 127, 142);
	color: white;

	&:hover, &:active {
		background: #A4D18A;
	}
}

.word-input-wrapper {
	margin-top: 130px;
}

#name {
	border: none;
	height: 32px;
	padding: 4px 20px 4px 10px;
	font-size: 18px;
	width: 160px;
	vertical-align: top;
}

.loading {
	width: 20px;
	height: 34px;
	display: inline-block;
	background: url("../images/async-submit.gif") no-repeat;
	background-position: center;
	margin-left: -24px;
}

#meaning-list {
	padding: 4px 24px;
	font-size: 15px;
	
	.word-meaning {
		position: relative;
		margin: 3px 0;

		&.editing {
			.stored-value {
				// display: none;
			}
			.edit-value {
				display: block;
			}
		}
	}

	.stored-value {
		border: 1px solid #8487D6;
		padding: 2px;
		background: #92a1d1;
		color: white;
		text-align: left;
		min-height: 1.8em;
	}

	.edit-value {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: none;
		resize: none;
	}

	.trash-icon {
		position: absolute;
		top: 6px;
		right: -13px;
		cursor: pointer;
	}
}

#synonyms {
	border: none;
	height: 26px;
	padding: 4px 10px;
	font-size: 18px;
	width: 92%;
	margin-top: 12px;
}

.synonyms {
	padding: 4px 10px;
	font-size: 16px;
	width: 100%;
	color: #244B3A;
	text-align: left;

	.label-txt {
		opacity: 0.4;
		@include user-select(none);
	}
}

.hover {
	.back-face:hover {
		background: rgb(171, 191, 255);
	}
	.remove, .done-mark {
		&:active {
			box-shadow: none;
			margin-top: 1px;
		}
	}
	.edit:active {
		box-shadow: none;
		margin-top: 1px;
		margin-right: 1px;
	}
}

#nav-search {
	margin: 3px;
	background: #FFF;
	border: solid #FFF;
	border-width: 2px 5px;
	border-radius: 4px;
	width: 100%;
	float: right;
}

#word-search {
	width: 100%;
	padding: 6px 10px 6px 36px;
	border: 1px solid rgb(0, 211, 51);
	font-size: 18px;
	background: url('../images/search.png') no-repeat;
	background-size: 30px;
	background-position: 0px 7px;

	&:focus {
		background-position: 0 -34px;
		box-shadow: 0 0 2px rgb(0, 211, 51);
		border-color: transparent;
		outline: none;
	}
}

#navigation {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	box-shadow: 0 1px 2px #125D75;
	background: #44BFE6;
	@include transform(translateZ(0));
}

#nav-links {
	list-style: none;
	background: #44BFE6;
	opacity: 0.95;

	.menu {
		color: white;
		background: #44BFE6;

		&.active {
			& > a {
				background: #3EB0D4;
			}
		}

		ul {
			padding: 0;
			margin: 1px 0 0;
		}

		// &:hover {
		// 	.submenu {
		// 		display: block;
		// 	}
		// }

		li {
			display: block;
			// padding: 5px 20px;

			&:hover {
				background: #2CBAF1;
			}
		}
	}
}

#dictionary {
	&::after {
		content: "";
		display: table;
	}
}

.word-synonyms {
	color: #244B3A;
	font-size: 18px;
	position: absolute;
	bottom: 15px;
}

#game-wrapper {
	height: 600px;
	background: #C8DDE4;
	padding-top: 98px;
}

.loop-game {
	width: 100%;
	height: 400px;
	padding: 12px;
	margin: 40px auto;
	position: relative;

	.word-container {
		height: 275px;
		width: 100%;
		overflow: hidden;
	}

	.word-card {
		margin: 0 auto;
		float: none;
	}

	.cover {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #C8DDE4;
		@include transform(translateY(400px));
		-webkit-transition: -webkit-transform 1s ease-in-out;
		transition: transform 1s ease-in-out;
		border: 2px solid #B3C8CF;
		border-radius: 200px;
	}

	.game-buttons {
		text-align: center;
		margin-top: 10px;
	}

	.game-option {
		display: inline-block;
		font-size: 26px;
		color: #FFF;
		background: #338083;
		width: 42px;
		height: 42px;
		text-align: center;
		line-height: 42px;
		cursor: pointer;
		@include transition(border-radius .2s linear);
		opacity: 0.5;

		&:hover {
			border-radius: 21px;
			background: #43A9AD;
		}

		&.active {
			opacity: 1;
		}
	}

	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.hidden {
	opacity: 0;
}

@media (min-width: 320px) {
	#wrapper {
		width: 310px;

		.word-card {
			width: 90%;
			margin: 10px 5% 5px;
		}
	}
}

@media (min-width: 768px) {
	#wrapper {
		width: 750px;

		.word-card {
			width: 240px;
			margin: 5px;
		}
	}
}
