node_modules
test/temp
.sass-cache
app/bower_components
.tmp
test/bower_components/
.yo-rc.json
*~
*.sublime-*
newrelic.js
newrelic_agent.log
dump.rdb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

